@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #18181b;
  height: 100vh;
}

body {
  height: 100% !important;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mapboxgl-popup-content {
  background-color: #18181b !important;
  color: white;

  width: 280px;
  border: 1px solid #353539;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #18181b !important;
}

.mapboxgl-popup-close-button {
  color: white;
  padding: 0.5rem;
}

:root {
  --toastify-color-dark: #27272A !important;
  --toastify-color-progress-info: #3B81F6 !important;
}
