@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #18181b;
  height: 100vh;
}

body {
  height: 100% !important;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
